$color-theme: #3284f4;
$color-border: #dedfe3;

body {
    padding: 50px;
}

* {
    box-sizing: border-box;
}

textarea {
    border: 1px solid $color-border;
    height: 100px;
    outline: none;
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
}

.editor-view {
    flex-grow: 1;
}

.editor-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.annotations {
    border: 1px solid $color-border;
    flex-shrink: 0;
    margin-left: 10px;
    margin-right: 0;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1rem;
    width: 300px;
}

.annotation {
    border: 1px solid $color-border;
    border-radius: 4px;
    font-family: monospace;
    font-size: 100%;
    line-height: 1.4;
    margin-top: 0;
    margin-bottom: .5rem;
    padding: .5rem;

    &.selected {
        border-color: $color-theme;
    }

    &:last-child {
        margin: 0;
    }
}

.preview {
    margin-top: 10px;
    margin-bottom: 50px;
    position: relative;
}

.preview-buttons {
    right: 10px;
    position: absolute;
    top: 10px;
}

.preview-button {
    border: 1px solid #dedfe3;
    border-radius: 2px;
    margin-left: 5px;
    padding: 4px 6px;
}

h2 {
    font-family: sans-serif;
}